"openapi": "3.1.0"
"info":
  "title": "java-tron HTTP API"
  "version": "1.0.0"
  "description": "Machine-readable definition generated from java-tron source code, with human-facing metadata linked to the markdown API documentation."
  "x-java-tron-source":
    "repo": "tronprotocol/java-tron"
    "commit": "f8ff7c76f45ab41d9bb76922329657506819701b"
    "version": "GreatVoyage-v4.8.2"
"servers":
  -
    "url": "https://nile.trongrid.io"
    "description": "Nile testnet TronGrid"
  -
    "url": "http://127.0.0.1:8090"
    "description": "Local FullNode HTTP API"
"tags":
  -
    "name": "Account"
    "description": "Account lookup and account resource query endpoints."
  -
    "name": "Block / transaction query"
    "description": "Block, transaction, and transaction-info query endpoints."
  -
    "name": "Transaction build / broadcast"
    "description": "Transaction creation, signing, permission, and broadcast endpoints."
  -
    "name": "TRC-10 asset"
    "description": "TRC-10 asset endpoints."
  -
    "name": "Smart contract"
    "description": "Smart contract deployment, trigger, and contract metadata endpoints."
  -
    "name": "Witness / governance"
    "description": "Witness, brokerage, reward, proposal, and governance endpoints."
  -
    "name": "Stake 1.0 (unfreeze and query only)"
    "description": "Stake 1.0 unfreeze and related query endpoints."
  -
    "name": "Stake 2.0"
    "description": "Stake 2.0 resource delegation, unfreeze, and withdrawal endpoints."
  -
    "name": "Node / pricing / tools"
    "description": "Node status, chain pricing, and utility endpoints."
"paths":
  "/wallet/getaccount":
    "get":
      "tags":
        - "Account"
      "summary": "Query an account by address"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccount.md` for examples and detailed behavior."
      "operationId": "wallet_getaccount_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccount.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/AccountInt64StringCompatible"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getaccount"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetAccountOnSolidityServlet"
      "parameters":
        -
          "name": "address"
          "in": "query"
          "required": true
          "schema":
            "type": "string"
            "description": "Account or contract address accepted by this endpoint."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetAccountServlet.java"
        - "protocol/src/main/protos/core/Tron.proto#Account"
    "post":
      "tags":
        - "Account"
      "summary": "Query an account by address"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccount.md` for examples and detailed behavior."
      "operationId": "wallet_getaccount_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccount.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Account"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getaccount"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetAccountOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/AccountRequest"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetAccountServlet.java"
        - "protocol/src/main/protos/core/Tron.proto#Account"
  "/wallet/getaccountbalance":
    "post":
      "tags":
        - "Account"
      "summary": "Query an account's balance at a specific block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountbalance.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountbalance_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccountbalance.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/AccountBalanceResponse"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountBalanceServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/AccountBalanceRequestRequest"
              "required":
                - "account_identifier"
                - "block_identifier"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetAccountBalanceServlet.java"
        - "protocol/src/main/protos/core/contract/balance_contract.proto#AccountBalanceRequest"
  "/wallet/getaccountnet":
    "get":
      "tags":
        - "Account"
      "summary": "Query an account's bandwidth resources"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountnet.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountnet_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccountnet.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/AccountNetMessageInt64StringCompatible"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountNetServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "address"
          "in": "query"
          "required": true
          "schema":
            "type": "string"
            "description": "Account or contract address accepted by this endpoint."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetAccountNetServlet.java"
        - "protocol/src/main/protos/core/Tron.proto#Account"
    "post":
      "tags":
        - "Account"
      "summary": "Query an account's bandwidth resources"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountnet.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountnet_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccountnet.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/AccountNetMessage"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountNetServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/AccountRequest"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetAccountNetServlet.java"
        - "protocol/src/main/protos/core/Tron.proto#Account"
  "/wallet/getaccountresource":
    "get":
      "tags":
        - "Account"
      "summary": "Query bandwidth + energy + TronPower"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountresource.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountresource_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccountresource.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/AccountResourceMessageInt64StringCompatible"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountResourceServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "address"
          "in": "query"
          "required": true
          "schema":
            "type": "string"
            "description": "Account or contract address accepted by this endpoint."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
    "post":
      "tags":
        - "Account"
      "summary": "Query bandwidth + energy + TronPower"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountresource.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountresource_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccountresource.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/AccountResourceMessage"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountResourceServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": false
              "properties":
                "address":
                  "type": "string"
                  "description": "Account or contract address accepted by this endpoint."
                "visible":
                  "type": "boolean"
                  "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
              "x-source-shape": "servlet-json-fields"
              "x-java-unknown-fields": "ignored-by-jsonformat"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetAccountResourceServlet.java"
  "/wallet/createaccount":
    "post":
      "tags":
        - "Account"
      "summary": "Create an on-chain account (costs 1 TRX)"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/createaccount.md` for examples and detailed behavior."
      "operationId": "wallet_createaccount_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/createaccount.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Transaction"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "CreateAccountServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/AccountCreateContractRequest"
              "required":
                - "owner_address"
                - "account_address"
      "x-overlay-derived": true
      "x-source-refs":
        - "actuator/src/main/java/org/tron/core/actuator/CreateAccountActuator.java#validate"
        - "framework/src/main/java/org/tron/core/services/http/JsonFormat.java#findValueByNumber"
        - "protocol/src/main/protos/core/contract/account_contract.proto#AccountCreateContract"
  "/wallet/updateaccount":
    "post":
      "tags":
        - "Account"
      "summary": "Update an account's name"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/updateaccount.md` for examples and detailed behavior."
      "operationId": "wallet_updateaccount_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/updateaccount.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Transaction"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "UpdateAccountServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/AccountUpdateContractRequest"
              "required":
                - "owner_address"
      "x-overlay-derived": true
      "x-source-refs":
        - "actuator/src/main/java/org/tron/core/actuator/UpdateAccountActuator.java#validate"
        - "protocol/src/main/protos/core/contract/account_contract.proto#AccountUpdateContract"
  "/wallet/accountpermissionupdate":
    "post":
      "tags":
        - "Account"
      "summary": "Configure multi-sig permissions"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/accountpermissionupdate.md` for examples and detailed behavior."
      "operationId": "wallet_accountpermissionupdate_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/accountpermissionupdate.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Transaction"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "AccountPermissionUpdateServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/AccountPermissionUpdateContractRequest"
              "required":
                - "owner_address"
                - "owner"
                - "actives"
      "x-overlay-derived": true
      "x-source-refs":
        - "actuator/src/main/java/org/tron/core/actuator/AccountPermissionUpdateActuator.java#validate"
        - "protocol/src/main/protos/core/contract/account_contract.proto#AccountPermissionUpdateContract"
  "/wallet/validateaddress":
    "get":
      "tags":
        - "Account"
      "summary": "Validate an address"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/validateaddress.md` for examples and detailed behavior."
      "operationId": "wallet_validateaddress_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/validateaddress.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "type": "object"
                    "additionalProperties": false
                    "properties":
                      "result":
                        "type": "boolean"
                      "message":
                        "type": "string"
                    "not":
                      "required":
                        - "Error"
                    "title": "ValidateaddressGetResultObject1"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "business"
                      "responsePath": "$"
                      "discriminatorPath": "$.result"
                      "failureCondition": "equals false"
                      "catalogIds":
                        - "INVALID_ADDRESS"
                      "sources":
                        - "servlet"
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                      "sources":
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "ValidateAddressServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "address"
          "in": "query"
          "required": true
          "schema":
            "type": "string"
            "description": "Account or contract address accepted by this endpoint."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/ValidateAddressServlet.java"
    "post":
      "tags":
        - "Account"
      "summary": "Validate an address"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/validateaddress.md` for examples and detailed behavior."
      "operationId": "wallet_validateaddress_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/validateaddress.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "type": "object"
                    "additionalProperties": false
                    "properties":
                      "result":
                        "type": "boolean"
                      "message":
                        "type": "string"
                    "not":
                      "required":
                        - "Error"
                    "title": "ValidateaddressPostResultObject1"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "business"
                      "responsePath": "$"
                      "discriminatorPath": "$.result"
                      "failureCondition": "equals false"
                      "catalogIds":
                        - "INVALID_ADDRESS"
                      "sources":
                        - "servlet"
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                      "sources":
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "shared-rate-limiter"
          "x-tron-empty-body":
            "possible": true
            "condition": "Request parsing, body-size validation, or another pre-write servlet exception."
            "sources":
              - "servlet"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "ValidateAddressServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": false
              "properties":
                "address":
                  "type": "string"
                  "description": "Account or contract address accepted by this endpoint."
              "x-source-shape": "servlet-json-fields"
              "x-java-unknown-fields": "ignored-by-jsonformat"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/ValidateAddressServlet.java"
  "/wallet/getnowblock":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Latest block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getnowblock.md` for examples and detailed behavior."
      "operationId": "wallet_getnowblock_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getnowblock.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockInt64StringCompatible"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetNowBlockServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getnowblock"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetNowBlockOnSolidityServlet"
      "parameters":
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetNowBlockServlet.java"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Latest block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getnowblock.md` for examples and detailed behavior."
      "operationId": "wallet_getnowblock_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getnowblock.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Block"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetNowBlockServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getnowblock"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetNowBlockOnSolidityServlet"
      "parameters":
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetNowBlockServlet.java"
  "/wallet/getblock":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Generic block query (by num or hash)"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblock.md` for examples and detailed behavior."
      "operationId": "wallet_getblock_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblock.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockInt64StringCompatible"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                      "sources":
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblock"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockOnSolidityServlet"
      "parameters":
        -
          "name": "id_or_num"
          "in": "query"
          "required": false
          "schema":
            "type": "string"
            "description": "Block id or block number."
          "x-source-derived": true
        -
          "name": "detail"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "Whether to return detailed block information."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockServlet.java"
        - "protocol/src/main/protos/api/api.proto#BlockReq"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Generic block query (by num or hash)"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblock.md` for examples and detailed behavior."
      "operationId": "wallet_getblock_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblock.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Block"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                      "sources":
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblock"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/BlockReqRequest"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockServlet.java"
        - "protocol/src/main/protos/api/api.proto#BlockReq"
  "/wallet/getblockbynum":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Block by height"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbynum.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbynum_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbynum.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockInt64StringCompatible"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
            "text/plain":
              "schema":
                "type": "string"
                "const": "this API is closed because this node is a lite fullnode"
              "x-tron-errors":
                "catalogIds":
                  - "HTTP_LITE_FULLNODE_HISTORY_DISABLED"
              "x-actual-content-type": "application/json; charset=utf-8"
              "x-java-source": "framework/src/main/java/org/tron/core/services/filter/LiteFnQueryHttpFilter.java"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbynum"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByNumOnSolidityServlet"
      "parameters":
        -
          "name": "num"
          "in": "query"
          "required": false
          "schema":
            "type": "integer"
            "format": "int64"
            "description": "Block height."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockByNumServlet.java"
        - "protocol/src/main/protos/api/api.proto#NumberMessage"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Block by height"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbynum.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbynum_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbynum.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Block"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
            "text/plain":
              "schema":
                "type": "string"
                "const": "this API is closed because this node is a lite fullnode"
              "x-tron-errors":
                "catalogIds":
                  - "HTTP_LITE_FULLNODE_HISTORY_DISABLED"
              "x-actual-content-type": "application/json; charset=utf-8"
              "x-java-source": "framework/src/main/java/org/tron/core/services/filter/LiteFnQueryHttpFilter.java"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbynum"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByNumOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/BlockHeightNumberMessageRequest"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockByNumServlet.java"
        - "protocol/src/main/protos/api/api.proto#NumberMessage"
  "/wallet/getblockbyid":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Block by hash"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbyid.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbyid_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbyid.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockInt64StringCompatible"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
            "text/plain":
              "schema":
                "type": "string"
                "const": "this API is closed because this node is a lite fullnode"
              "x-tron-errors":
                "catalogIds":
                  - "HTTP_LITE_FULLNODE_HISTORY_DISABLED"
              "x-actual-content-type": "application/json; charset=utf-8"
              "x-java-source": "framework/src/main/java/org/tron/core/services/filter/LiteFnQueryHttpFilter.java"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbyid"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByIdOnSolidityServlet"
      "parameters":
        -
          "name": "value"
          "in": "query"
          "required": false
          "schema":
            "type": "string"
            "description": "Hex string, amount, or value field accepted by this endpoint."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockByIdServlet.java"
        - "protocol/src/main/protos/api/api.proto#BytesMessage"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Block by hash"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbyid.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbyid_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbyid.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Block"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
            "text/plain":
              "schema":
                "type": "string"
                "const": "this API is closed because this node is a lite fullnode"
              "x-tron-errors":
                "catalogIds":
                  - "HTTP_LITE_FULLNODE_HISTORY_DISABLED"
              "x-actual-content-type": "application/json; charset=utf-8"
              "x-java-source": "framework/src/main/java/org/tron/core/services/filter/LiteFnQueryHttpFilter.java"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbyid"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByIdOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/BytesMessageRequest"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockByIdServlet.java"
        - "protocol/src/main/protos/api/api.proto#BytesMessage"
  "/wallet/getblockbylimitnext":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Blocks in a range"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbylimitnext.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbylimitnext_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbylimitnext.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockListInt64StringCompatible"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
            "text/plain":
              "schema":
                "type": "string"
                "const": "this API is closed because this node is a lite fullnode"
              "x-tron-errors":
                "catalogIds":
                  - "HTTP_LITE_FULLNODE_HISTORY_DISABLED"
              "x-actual-content-type": "application/json; charset=utf-8"
              "x-java-source": "framework/src/main/java/org/tron/core/services/filter/LiteFnQueryHttpFilter.java"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByLimitNextServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbylimitnext"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByLimitNextOnSolidityServlet"
      "parameters":
        -
          "name": "startNum"
          "in": "query"
          "required": true
          "schema":
            "type": "integer"
            "format": "int64"
            "description": "Starting block number for the query range."
          "x-source-derived": true
        -
          "name": "endNum"
          "in": "query"
          "required": true
          "schema":
            "type": "integer"
            "format": "int64"
            "description": "Ending block number for the query range."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Blocks in a range"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbylimitnext.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbylimitnext_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbylimitnext.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockList"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
            "text/plain":
              "schema":
                "type": "string"
                "const": "this API is closed because this node is a lite fullnode"
              "x-tron-errors":
                "catalogIds":
                  - "HTTP_LITE_FULLNODE_HISTORY_DISABLED"
              "x-actual-content-type": "application/json; charset=utf-8"
              "x-java-source": "framework/src/main/java/org/tron/core/services/filter/LiteFnQueryHttpFilter.java"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByLimitNextServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbylimitnext"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByLimitNextOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/BlockLimitRequest"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockByLimitNextServlet.java"
        - "protocol/src/main/protos/api/api.proto#BlockLimit"
  "/wallet/getblockbylatestnum":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "The most recent N blocks"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbylatestnum.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbylatestnum_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbylatestnum.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockListInt64StringCompatible"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
            "text/plain":
              "schema":
                "type": "string"
                "const": "this API is closed because this node is a lite fullnode"
              "x-tron-errors":
                "catalogIds":
                  - "HTTP_LITE_FULLNODE_HISTORY_DISABLED"
              "x-actual-content-type": "application/json; charset=utf-8"
              "x-java-source": "framework/src/main/java/org/tron/core/services/filter/LiteFnQueryHttpFilter.java"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByLatestNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbylatestnum"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByLatestNumOnSolidityServlet"
      "parameters":
        -
          "name": "num"
          "in": "query"
          "required": true
          "schema":
            "type": "integer"
            "format": "int64"
            "description": "Number of most recent blocks to return."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "The most recent N blocks"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbylatestnum.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbylatestnum_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbylatestnum.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockList"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
            "text/plain":
              "schema":
                "type": "string"
                "const": "this API is closed because this node is a lite fullnode"
              "x-tron-errors":
                "catalogIds":
                  - "HTTP_LITE_FULLNODE_HISTORY_DISABLED"
              "x-actual-content-type": "application/json; charset=utf-8"
              "x-java-source": "framework/src/main/java/org/tron/core/services/filter/LiteFnQueryHttpFilter.java"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByLatestNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbylatestnum"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByLatestNumOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/NumberMessageRequest"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockByLatestNumServlet.java"
        - "protocol/src/main/protos/api/api.proto#NumberMessage"
  "/wallet/getblockbalance":
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Per-account balance changes within a block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbalance.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbalance_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbalance.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockBalanceTrace"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-in-band-error":
                  "httpStatus": 200
                  "errors":
                    -
                      "kind": "java-tron"
                      "schema": "#/components/schemas/JavaTronError"
                      "discriminatorPath": "$.Error"
                      "catalogIds":
                        - "HTTP_RATE_LIMITED"
                        - "HTTP_SERVLET_EXCEPTION"
                      "sources":
                        - "servlet"
                        - "shared-rate-limiter"
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
                  "sources":
                    - "servlet"
                    - "shared-rate-limiter"
        "404":
          "description": "Endpoint disabled by node configuration."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_API_DISABLED"
          "content":
            "application/json":
              "schema":
                "$ref": "#/components/schemas/JavaTronError"
              "example":
                "Error": "this API is unavailable due to config"
        "413":
          "description": "Request body exceeds the node.http.maxMessageSize limit."
          "x-tron-errors":
            "catalogIds":
              - "HTTP_REQUEST_TOO_LARGE"
          "content":
            "text/html":
              "schema":
                "type": "string"
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockBalanceServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/BlockIdentifierRequest"
              "required":
                - "hash"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockBalanceServlet.java"
        - "framework/src/main/java/org/tron/core/Wallet.java#checkBlockIdentifier"
        - "protocol/src/main/protos/core/contract/balance_contract.proto#BlockIdentifier"
  "/wallet/gettransactioncountbyblocknum":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction count in a block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioncountbyblocknum.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioncountbyblocknum_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactioncountbyblocknum.md"
      "responses":
        "200":
          "description": "java-tron success or in-band error response. Endpoint business failures may use the endpoint result object; shared layers may return JavaTronError. Use x-tron-in-band-error to detect failures and x-tron-error-model catalog IDs to classify retry behavior."
          "content":
            "application/json":
[...]
