# This file is generated by scripts/generate_api_specs.py. Do not edit by hand.
"openapi": "3.1.0"
"info":
  "title": "java-tron HTTP API"
  "version": "1.0.0"
  "description": "Machine-readable definition generated from java-tron source code, with human-facing metadata linked to the markdown API documentation."
"servers":
  -
    "url": "https://nile.trongrid.io"
    "description": "Nile testnet TronGrid"
  -
    "url": "http://127.0.0.1:8090"
    "description": "Local FullNode HTTP API"
"paths":
  "/wallet/getaccount":
    "get":
      "tags":
        - "Account"
      "summary": "Query an account by address"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccount.md` for examples and detailed behavior."
      "operationId": "wallet_getaccount_get"
      "externalDocs":
        "url": "docs/api/http/account/getaccount.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "account_name":
                    "type": "string"
                  "type":
                    "type": "object"
                    "additionalProperties": true
                  "address":
                    "type": "string"
                  "balance":
                    "type": "integer"
                  "votes":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "frozen":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "net_usage":
                    "type": "integer"
                  "acquired_delegated_frozen_balance_for_bandwidth":
                    "type": "integer"
                  "delegated_frozen_balance_for_bandwidth":
                    "type": "integer"
                  "old_tron_power":
                    "type": "integer"
                  "tron_power":
                    "type": "object"
                    "additionalProperties": true
                  "asset_optimized":
                    "type": "boolean"
                  "create_time":
                    "type": "integer"
                  "latest_opration_time":
                    "type": "integer"
                  "allowance":
                    "type": "integer"
                  "latest_withdraw_time":
                    "type": "integer"
                  "code":
                    "type": "string"
                  "is_witness":
                    "type": "boolean"
                  "is_committee":
                    "type": "boolean"
                  "frozen_supply":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "asset_issued_name":
                    "type": "string"
                  "asset_issued_ID":
                    "type": "string"
                  "free_net_usage":
                    "type": "integer"
                  "latest_consume_time":
                    "type": "integer"
                  "latest_consume_free_time":
                    "type": "integer"
                  "account_id":
                    "type": "string"
                  "net_window_size":
                    "type": "integer"
                  "net_window_optimized":
                    "type": "boolean"
                  "account_resource":
                    "type": "object"
                    "additionalProperties": true
                  "codeHash":
                    "type": "string"
                  "owner_permission":
                    "type": "object"
                    "additionalProperties": true
                  "witness_permission":
                    "type": "object"
                    "additionalProperties": true
                  "active_permission":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "frozenV2":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "unfrozenV2":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "delegated_frozenV2_balance_for_bandwidth":
                    "type": "integer"
                  "acquired_delegated_frozenV2_balance_for_bandwidth":
                    "type": "integer"
                "x-proto-message": "Account"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response-type": "org.tron.protos.Protocol.Account"
                "x-java-response": "Account rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getaccount"
      "x-solidity-servlet": "GetAccountOnSolidityServlet"
      "parameters":
        -
          "name": "address"
          "in": "query"
          "required": false
          "schema":
            "type": "string"
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Account"
      "summary": "Query an account by address"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccount.md` for examples and detailed behavior."
      "operationId": "wallet_getaccount_post"
      "externalDocs":
        "url": "docs/api/http/account/getaccount.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "account_name":
                    "type": "string"
                  "type":
                    "type": "object"
                    "additionalProperties": true
                  "address":
                    "type": "string"
                  "balance":
                    "type": "integer"
                  "votes":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "frozen":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "net_usage":
                    "type": "integer"
                  "acquired_delegated_frozen_balance_for_bandwidth":
                    "type": "integer"
                  "delegated_frozen_balance_for_bandwidth":
                    "type": "integer"
                  "old_tron_power":
                    "type": "integer"
                  "tron_power":
                    "type": "object"
                    "additionalProperties": true
                  "asset_optimized":
                    "type": "boolean"
                  "create_time":
                    "type": "integer"
                  "latest_opration_time":
                    "type": "integer"
                  "allowance":
                    "type": "integer"
                  "latest_withdraw_time":
                    "type": "integer"
                  "code":
                    "type": "string"
                  "is_witness":
                    "type": "boolean"
                  "is_committee":
                    "type": "boolean"
                  "frozen_supply":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "asset_issued_name":
                    "type": "string"
                  "asset_issued_ID":
                    "type": "string"
                  "free_net_usage":
                    "type": "integer"
                  "latest_consume_time":
                    "type": "integer"
                  "latest_consume_free_time":
                    "type": "integer"
                  "account_id":
                    "type": "string"
                  "net_window_size":
                    "type": "integer"
                  "net_window_optimized":
                    "type": "boolean"
                  "account_resource":
                    "type": "object"
                    "additionalProperties": true
                  "codeHash":
                    "type": "string"
                  "owner_permission":
                    "type": "object"
                    "additionalProperties": true
                  "witness_permission":
                    "type": "object"
                    "additionalProperties": true
                  "active_permission":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "frozenV2":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "unfrozenV2":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "delegated_frozenV2_balance_for_bandwidth":
                    "type": "integer"
                  "acquired_delegated_frozenV2_balance_for_bandwidth":
                    "type": "integer"
                "x-proto-message": "Account"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response-type": "org.tron.protos.Protocol.Account"
                "x-java-response": "Account rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getaccount"
      "x-solidity-servlet": "GetAccountOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "address":
                  "type": "string"
                "visible":
                  "type": "boolean"
              "x-source-shape": "servlet-effective-input"
              "x-java-request-type": "org.tron.protos.Protocol.Account"
  "/wallet/getaccountbalance":
    "post":
      "tags":
        - "Account"
      "summary": "Query an account's balance at a specific block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountbalance.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountbalance_post"
      "externalDocs":
        "url": "docs/api/http/account/getaccountbalance.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "balance":
                    "type": "integer"
                  "block_identifier":
                    "type": "object"
                    "additionalProperties": true
                "x-proto-message": "AccountBalanceResponse"
                "x-proto-file": "protocol/src/main/protos/core/contract/balance_contract.proto"
                "x-java-response-type": "BalanceContract.AccountBalanceResponse"
                "x-java-response": "AccountBalanceResponse rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountBalanceServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "account_identifier":
                  "type": "object"
                  "additionalProperties": true
                "block_identifier":
                  "type": "object"
                  "additionalProperties": true
                "visible":
                  "type": "boolean"
              "x-proto-message": "AccountBalanceRequest"
              "x-proto-file": "protocol/src/main/protos/core/contract/balance_contract.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "AccountBalanceRequest"
  "/wallet/getaccountnet":
    "get":
      "tags":
        - "Account"
      "summary": "Query an account's bandwidth resources"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountnet.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountnet_get"
      "externalDocs":
        "url": "docs/api/http/account/getaccountnet.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "freeNetUsed":
                    "type": "integer"
                  "freeNetLimit":
                    "type": "integer"
                  "NetUsed":
                    "type": "integer"
                  "NetLimit":
                    "type": "integer"
                  "TotalNetLimit":
                    "type": "integer"
                  "TotalNetWeight":
                    "type": "integer"
                "x-proto-message": "AccountNetMessage"
                "x-proto-file": "protocol/src/main/protos/api/api.proto"
                "x-java-response-type": "org.tron.api.GrpcAPI.AccountNetMessage"
                "x-java-response": "AccountNetMessage rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountNetServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "address"
          "in": "query"
          "required": false
          "schema":
            "type": "string"
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Account"
      "summary": "Query an account's bandwidth resources"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountnet.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountnet_post"
      "externalDocs":
        "url": "docs/api/http/account/getaccountnet.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "freeNetUsed":
                    "type": "integer"
                  "freeNetLimit":
                    "type": "integer"
                  "NetUsed":
                    "type": "integer"
                  "NetLimit":
                    "type": "integer"
                  "TotalNetLimit":
                    "type": "integer"
                  "TotalNetWeight":
                    "type": "integer"
                "x-proto-message": "AccountNetMessage"
                "x-proto-file": "protocol/src/main/protos/api/api.proto"
                "x-java-response-type": "org.tron.api.GrpcAPI.AccountNetMessage"
                "x-java-response": "AccountNetMessage rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountNetServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "address":
                  "type": "string"
                "visible":
                  "type": "boolean"
              "x-source-shape": "servlet-effective-input"
              "x-java-request-type": "org.tron.protos.Protocol.Account"
  "/wallet/getaccountresource":
    "get":
      "tags":
        - "Account"
      "summary": "Query bandwidth + energy + TronPower"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountresource.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountresource_get"
      "externalDocs":
        "url": "docs/api/http/account/getaccountresource.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "freeNetUsed":
                    "type": "integer"
                  "freeNetLimit":
                    "type": "integer"
                  "NetUsed":
                    "type": "integer"
                  "NetLimit":
                    "type": "integer"
                  "TotalNetLimit":
                    "type": "integer"
                  "TotalNetWeight":
                    "type": "integer"
                  "TotalTronPowerWeight":
                    "type": "integer"
                  "tronPowerUsed":
                    "type": "integer"
                  "tronPowerLimit":
                    "type": "integer"
                  "EnergyUsed":
                    "type": "integer"
                  "EnergyLimit":
                    "type": "integer"
                  "TotalEnergyLimit":
                    "type": "integer"
                  "TotalEnergyWeight":
                    "type": "integer"
                  "storageUsed":
                    "type": "integer"
                  "storageLimit":
                    "type": "integer"
                "x-proto-message": "AccountResourceMessage"
                "x-proto-file": "protocol/src/main/protos/api/api.proto"
                "x-java-response-type": "org.tron.api.GrpcAPI.AccountResourceMessage"
                "x-java-response": "AccountResourceMessage rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountResourceServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "address"
          "in": "query"
          "required": false
          "schema":
            "type": "string"
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Account"
      "summary": "Query bandwidth + energy + TronPower"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountresource.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountresource_post"
      "externalDocs":
        "url": "docs/api/http/account/getaccountresource.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "freeNetUsed":
                    "type": "integer"
                  "freeNetLimit":
                    "type": "integer"
                  "NetUsed":
                    "type": "integer"
                  "NetLimit":
                    "type": "integer"
                  "TotalNetLimit":
                    "type": "integer"
                  "TotalNetWeight":
                    "type": "integer"
                  "TotalTronPowerWeight":
                    "type": "integer"
                  "tronPowerUsed":
                    "type": "integer"
                  "tronPowerLimit":
                    "type": "integer"
                  "EnergyUsed":
                    "type": "integer"
                  "EnergyLimit":
                    "type": "integer"
                  "TotalEnergyLimit":
                    "type": "integer"
                  "TotalEnergyWeight":
                    "type": "integer"
                  "storageUsed":
                    "type": "integer"
                  "storageLimit":
                    "type": "integer"
                "x-proto-message": "AccountResourceMessage"
                "x-proto-file": "protocol/src/main/protos/api/api.proto"
                "x-java-response-type": "org.tron.api.GrpcAPI.AccountResourceMessage"
                "x-java-response": "AccountResourceMessage rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountResourceServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "address":
                  "type": "string"
                "visible":
                  "type": "boolean"
              "x-source-shape": "servlet-json-fields"
  "/wallet/createaccount":
    "post":
      "tags":
        - "Account"
      "summary": "Create an on-chain account (costs 1 TRX)"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/createaccount.md` for examples and detailed behavior."
      "operationId": "wallet_createaccount_post"
      "externalDocs":
        "url": "docs/api/http/account/createaccount.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "txID":
                    "type": "string"
                  "raw_data":
                    "type": "object"
                    "additionalProperties": true
                  "raw_data_hex":
                    "type": "string"
                  "signature":
                    "type": "array"
                    "items":
                      "type": "string"
                  "visible":
                    "type": "boolean"
                  "contract_address":
                    "type": "string"
                "x-java-response": "protocol.Transaction rendered by Util.printCreateTransaction"
                "x-source-shape": "transaction-json"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "CreateAccountServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "owner_address":
                  "type": "string"
                "account_address":
                  "type": "string"
                "type":
                  "type": "object"
                  "additionalProperties": true
                "visible":
                  "type": "boolean"
                "Permission_id":
                  "type": "integer"
              "x-proto-message": "AccountCreateContract"
              "x-proto-file": "protocol/src/main/protos/core/contract/account_contract.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "org.tron.protos.contract.AccountContract.AccountCreateContract"
  "/wallet/updateaccount":
    "post":
      "tags":
        - "Account"
      "summary": "Update an account's name"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/updateaccount.md` for examples and detailed behavior."
      "operationId": "wallet_updateaccount_post"
      "externalDocs":
        "url": "docs/api/http/account/updateaccount.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "txID":
                    "type": "string"
                  "raw_data":
                    "type": "object"
                    "additionalProperties": true
                  "raw_data_hex":
                    "type": "string"
                  "signature":
                    "type": "array"
                    "items":
                      "type": "string"
                  "visible":
                    "type": "boolean"
                  "contract_address":
                    "type": "string"
                "x-java-response": "protocol.Transaction rendered by Util.printCreateTransaction"
                "x-source-shape": "transaction-json"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "UpdateAccountServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "account_name":
                  "type": "string"
                "owner_address":
                  "type": "string"
                "visible":
                  "type": "boolean"
                "Permission_id":
                  "type": "integer"
              "x-proto-message": "AccountUpdateContract"
              "x-proto-file": "protocol/src/main/protos/core/contract/account_contract.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "org.tron.protos.contract.AccountContract.AccountUpdateContract"
  "/wallet/accountpermissionupdate":
    "post":
      "tags":
        - "Account"
      "summary": "Configure multi-sig permissions"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/accountpermissionupdate.md` for examples and detailed behavior."
      "operationId": "wallet_accountpermissionupdate_post"
      "externalDocs":
        "url": "docs/api/http/account/accountpermissionupdate.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "txID":
                    "type": "string"
                  "raw_data":
                    "type": "object"
                    "additionalProperties": true
                  "raw_data_hex":
                    "type": "string"
                  "signature":
                    "type": "array"
                    "items":
                      "type": "string"
                  "visible":
                    "type": "boolean"
                  "contract_address":
                    "type": "string"
                "x-java-response": "protocol.Transaction rendered by Util.printCreateTransaction"
                "x-source-shape": "transaction-json"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "AccountPermissionUpdateServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "owner_address":
                  "type": "string"
                "owner":
                  "type": "object"
                  "additionalProperties": true
                "witness":
                  "type": "object"
                  "additionalProperties": true
                "actives":
                  "type": "array"
                  "items":
                    "type": "object"
                    "additionalProperties": true
                "visible":
                  "type": "boolean"
                "Permission_id":
                  "type": "integer"
              "x-proto-message": "AccountPermissionUpdateContract"
              "x-proto-file": "protocol/src/main/protos/core/contract/account_contract.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "org.tron.protos.contract.AccountContract.AccountPermissionUpdateContract"
  "/wallet/validateaddress":
    "get":
      "tags":
        - "Account"
      "summary": "Validate an address"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/validateaddress.md` for examples and detailed behavior."
      "operationId": "wallet_validateaddress_get"
      "externalDocs":
        "url": "docs/api/http/account/validateaddress.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "result":
                    "type": "boolean"
                  "message":
                    "type": "string"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "ValidateAddressServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "address"
          "in": "query"
          "required": false
          "schema":
            "type": "string"
          "x-source-derived": true
    "post":
      "tags":
        - "Account"
      "summary": "Validate an address"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/validateaddress.md` for examples and detailed behavior."
      "operationId": "wallet_validateaddress_post"
      "externalDocs":
        "url": "docs/api/http/account/validateaddress.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "result":
                    "type": "boolean"
                  "message":
                    "type": "string"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "ValidateAddressServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "address":
                  "type": "string"
              "x-source-shape": "servlet-json-fields"
  "/wallet/getnowblock":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Latest block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getnowblock.md` for examples and detailed behavior."
      "operationId": "wallet_getnowblock_get"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getnowblock.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "transactions":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "block_header":
                    "type": "object"
                    "additionalProperties": true
                "x-proto-message": "Block"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response-type": "org.tron.protos.Protocol.Block"
                "x-java-response": "Block rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetNowBlockServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getnowblock"
      "x-solidity-servlet": "GetNowBlockOnSolidityServlet"
      "parameters":
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Latest block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getnowblock.md` for examples and detailed behavior."
      "operationId": "wallet_getnowblock_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getnowblock.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "transactions":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "block_header":
                    "type": "object"
                    "additionalProperties": true
                "x-proto-message": "Block"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response-type": "org.tron.protos.Protocol.Block"
                "x-java-response": "Block rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetNowBlockServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getnowblock"
      "x-solidity-servlet": "GetNowBlockOnSolidityServlet"
      "parameters":
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
  "/wallet/getblock":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Generic block query (by num or hash)"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblock.md` for examples and detailed behavior."
      "operationId": "wallet_getblock_get"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getblock.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "transactions":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "block_header":
                    "type": "object"
                    "additionalProperties": true
                "x-proto-message": "Block"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response-type": "org.tron.protos.Protocol.Block"
                "x-java-response": "Block rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getblock"
      "x-solidity-servlet": "GetBlockOnSolidityServlet"
      "parameters":
        -
          "name": "id_or_num"
          "in": "query"
          "required": false
          "schema":
            "type": "string"
          "x-source-derived": true
        -
          "name": "detail"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Generic block query (by num or hash)"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblock.md` for examples and detailed behavior."
      "operationId": "wallet_getblock_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getblock.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "transactions":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "block_header":
                    "type": "object"
                    "additionalProperties": true
                "x-proto-message": "Block"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response-type": "org.tron.protos.Protocol.Block"
                "x-java-response": "Block rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getblock"
      "x-solidity-servlet": "GetBlockOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "id_or_num":
                  "type": "string"
                "detail":
                  "type": "boolean"
              "x-proto-message": "BlockReq"
              "x-proto-file": "protocol/src/main/protos/api/api.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "org.tron.api.GrpcAPI.BlockReq"
  "/wallet/getblockbynum":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Block by height"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbynum.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbynum_get"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getblockbynum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "transactions":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "block_header":
                    "type": "object"
                    "additionalProperties": true
                "x-proto-message": "Block"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response-type": "org.tron.protos.Protocol.Block"
                "x-java-response": "Block rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getblockbynum"
      "x-solidity-servlet": "GetBlockByNumOnSolidityServlet"
      "parameters":
        -
          "name": "num"
          "in": "query"
          "required": false
          "schema":
            "type": "integer"
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Block by height"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbynum.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbynum_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getblockbynum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "transactions":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "block_header":
                    "type": "object"
                    "additionalProperties": true
                "x-proto-message": "Block"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response-type": "org.tron.protos.Protocol.Block"
                "x-java-response": "Block rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getblockbynum"
      "x-solidity-servlet": "GetBlockByNumOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "num":
                  "type": "integer"
                "visible":
                  "type": "boolean"
              "x-proto-message": "NumberMessage"
              "x-proto-file": "protocol/src/main/protos/api/api.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "org.tron.api.GrpcAPI.NumberMessage"
  "/wallet/getblockbyid":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Block by hash"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbyid.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbyid_get"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getblockbyid.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "transactions":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "block_header":
                    "type": "object"
                    "additionalProperties": true
                "x-proto-message": "Block"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response-type": "org.tron.protos.Protocol.Block"
                "x-java-response": "Block rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getblockbyid"
      "x-solidity-servlet": "GetBlockByIdOnSolidityServlet"
      "parameters":
        -
          "name": "value"
          "in": "query"
          "required": false
          "schema":
            "type": "string"
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Block by hash"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbyid.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbyid_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getblockbyid.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "transactions":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "block_header":
                    "type": "object"
                    "additionalProperties": true
                "x-proto-message": "Block"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response-type": "org.tron.protos.Protocol.Block"
                "x-java-response": "Block rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getblockbyid"
      "x-solidity-servlet": "GetBlockByIdOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "value":
                  "type": "string"
                "visible":
                  "type": "boolean"
              "x-proto-message": "BytesMessage"
              "x-proto-file": "protocol/src/main/protos/api/api.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "org.tron.api.GrpcAPI.BytesMessage"
  "/wallet/getblockbylimitnext":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Blocks in a range"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbylimitnext.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbylimitnext_get"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getblockbylimitnext.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "block":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                "x-proto-message": "BlockList"
                "x-proto-file": "protocol/src/main/protos/api/api.proto"
                "x-java-response-type": "org.tron.api.GrpcAPI.BlockList"
                "x-java-response": "BlockList rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByLimitNextServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getblockbylimitnext"
      "x-solidity-servlet": "GetBlockByLimitNextOnSolidityServlet"
      "parameters":
        -
          "name": "startNum"
          "in": "query"
          "required": false
          "schema":
            "type": "integer"
          "x-source-derived": true
        -
          "name": "endNum"
          "in": "query"
          "required": false
          "schema":
            "type": "integer"
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Blocks in a range"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbylimitnext.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbylimitnext_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getblockbylimitnext.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "block":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                "x-proto-message": "BlockList"
                "x-proto-file": "protocol/src/main/protos/api/api.proto"
                "x-java-response-type": "org.tron.api.GrpcAPI.BlockList"
                "x-java-response": "BlockList rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByLimitNextServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getblockbylimitnext"
      "x-solidity-servlet": "GetBlockByLimitNextOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "startNum":
                  "type": "integer"
                "endNum":
                  "type": "integer"
                "visible":
                  "type": "boolean"
              "x-proto-message": "BlockLimit"
              "x-proto-file": "protocol/src/main/protos/api/api.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "org.tron.api.GrpcAPI.BlockLimit"
  "/wallet/getblockbylatestnum":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "The most recent N blocks"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbylatestnum.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbylatestnum_get"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getblockbylatestnum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "block":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                "x-proto-message": "BlockList"
                "x-proto-file": "protocol/src/main/protos/api/api.proto"
                "x-java-response-type": "org.tron.api.GrpcAPI.BlockList"
                "x-java-response": "BlockList rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByLatestNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getblockbylatestnum"
      "x-solidity-servlet": "GetBlockByLatestNumOnSolidityServlet"
      "parameters":
        -
          "name": "num"
          "in": "query"
          "required": false
          "schema":
            "type": "integer"
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "The most recent N blocks"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbylatestnum.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbylatestnum_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getblockbylatestnum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "block":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                "x-proto-message": "BlockList"
                "x-proto-file": "protocol/src/main/protos/api/api.proto"
                "x-java-response-type": "org.tron.api.GrpcAPI.BlockList"
                "x-java-response": "BlockList rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByLatestNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/getblockbylatestnum"
      "x-solidity-servlet": "GetBlockByLatestNumOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "num":
                  "type": "integer"
                "visible":
                  "type": "boolean"
              "x-proto-message": "NumberMessage"
              "x-proto-file": "protocol/src/main/protos/api/api.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "org.tron.api.GrpcAPI.NumberMessage"
  "/wallet/getblockbalance":
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Per-account balance changes within a block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbalance.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbalance_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getblockbalance.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "block_identifier":
                    "type": "object"
                    "additionalProperties": true
                  "timestamp":
                    "type": "integer"
                  "transaction_balance_trace":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                "x-proto-message": "BlockBalanceTrace"
                "x-proto-file": "protocol/src/main/protos/core/contract/balance_contract.proto"
                "x-java-response-type": "org.tron.protos.contract.BalanceContract.BlockBalanceTrace"
                "x-java-response": "BlockBalanceTrace rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockBalanceServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "hash":
                  "type": "string"
                "number":
                  "type": "integer"
                "visible":
                  "type": "boolean"
              "x-proto-message": "BlockIdentifier"
              "x-proto-file": "protocol/src/main/protos/core/contract/balance_contract.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "BlockIdentifier"
  "/wallet/gettransactioncountbyblocknum":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction count in a block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioncountbyblocknum.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioncountbyblocknum_get"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/gettransactioncountbyblocknum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "count":
                    "type": "integer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionCountByBlockNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/gettransactioncountbyblocknum"
      "x-solidity-servlet": "GetTransactionCountByBlockNumOnSolidityServlet"
      "parameters":
        -
          "name": "num"
          "in": "query"
          "required": false
          "schema":
            "type": "integer"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction count in a block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioncountbyblocknum.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioncountbyblocknum_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/gettransactioncountbyblocknum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "count":
                    "type": "integer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionCountByBlockNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/gettransactioncountbyblocknum"
      "x-solidity-servlet": "GetTransactionCountByBlockNumOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "num":
                  "type": "integer"
                "visible":
                  "type": "boolean"
              "x-proto-message": "NumberMessage"
              "x-proto-file": "protocol/src/main/protos/api/api.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "org.tron.api.GrpcAPI.NumberMessage"
  "/wallet/gettransactionbyid":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction by txid"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactionbyid.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactionbyid_get"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/gettransactionbyid.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "raw_data":
                    "type": "object"
                    "additionalProperties": true
                  "signature":
                    "type": "array"
                    "items":
                      "type": "string"
                  "ret":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                "x-proto-message": "Transaction"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response-type": "org.tron.protos.Protocol.Transaction"
                "x-java-response": "Transaction rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/gettransactionbyid"
      "x-solidity-servlet": "GetTransactionByIdOnSolidityServlet"
      "parameters":
        -
          "name": "value"
          "in": "query"
          "required": false
          "schema":
            "type": "string"
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction by txid"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactionbyid.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactionbyid_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/gettransactionbyid.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "raw_data":
                    "type": "object"
                    "additionalProperties": true
                  "signature":
                    "type": "array"
                    "items":
                      "type": "string"
                  "ret":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                "x-proto-message": "Transaction"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response-type": "org.tron.protos.Protocol.Transaction"
                "x-java-response": "Transaction rendered by java-tron JSON printer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/gettransactionbyid"
      "x-solidity-servlet": "GetTransactionByIdOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "value":
                  "type": "string"
                "visible":
                  "type": "boolean"
              "x-proto-message": "BytesMessage"
              "x-proto-file": "protocol/src/main/protos/api/api.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "org.tron.api.GrpcAPI.BytesMessage"
  "/wallet/gettransactioninfobyid":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction receipt by txid"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioninfobyid.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioninfobyid_get"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/gettransactioninfobyid.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "id":
                    "type": "string"
                  "fee":
                    "type": "integer"
                  "blockNumber":
                    "type": "integer"
                  "blockTimeStamp":
                    "type": "integer"
                  "contractResult":
                    "type": "array"
                    "items":
                      "type": "string"
                  "contract_address":
                    "type": "string"
                  "receipt":
                    "type": "object"
                    "additionalProperties": true
                  "log":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "result":
                    "type": "object"
                    "additionalProperties": true
                  "resMessage":
                    "type": "string"
                  "assetIssueID":
                    "type": "string"
                  "withdraw_amount":
                    "type": "integer"
                  "unfreeze_amount":
                    "type": "integer"
                  "internal_transactions":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "exchange_received_amount":
                    "type": "integer"
                  "exchange_inject_another_amount":
                    "type": "integer"
                  "exchange_withdraw_another_amount":
                    "type": "integer"
                  "exchange_id":
                    "type": "integer"
                  "shielded_transaction_fee":
                    "type": "integer"
                  "orderId":
                    "type": "string"
                  "orderDetails":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "packingFee":
                    "type": "integer"
                  "withdraw_expire_amount":
                    "type": "integer"
                "x-proto-message": "TransactionInfo"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response": "TransactionInfo rendered through convertLogAddressToTronAddress"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionInfoByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/gettransactioninfobyid"
      "x-solidity-servlet": "GetTransactionInfoByIdOnSolidityServlet"
      "parameters":
        -
          "name": "value"
          "in": "query"
          "required": false
          "schema":
            "type": "string"
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction receipt by txid"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioninfobyid.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioninfobyid_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/gettransactioninfobyid.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "id":
                    "type": "string"
                  "fee":
                    "type": "integer"
                  "blockNumber":
                    "type": "integer"
                  "blockTimeStamp":
                    "type": "integer"
                  "contractResult":
                    "type": "array"
                    "items":
                      "type": "string"
                  "contract_address":
                    "type": "string"
                  "receipt":
                    "type": "object"
                    "additionalProperties": true
                  "log":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "result":
                    "type": "object"
                    "additionalProperties": true
                  "resMessage":
                    "type": "string"
                  "assetIssueID":
                    "type": "string"
                  "withdraw_amount":
                    "type": "integer"
                  "unfreeze_amount":
                    "type": "integer"
                  "internal_transactions":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "exchange_received_amount":
                    "type": "integer"
                  "exchange_inject_another_amount":
                    "type": "integer"
                  "exchange_withdraw_another_amount":
                    "type": "integer"
                  "exchange_id":
                    "type": "integer"
                  "shielded_transaction_fee":
                    "type": "integer"
                  "orderId":
                    "type": "string"
                  "orderDetails":
                    "type": "array"
                    "items":
                      "type": "object"
                      "additionalProperties": true
                  "packingFee":
                    "type": "integer"
                  "withdraw_expire_amount":
                    "type": "integer"
                "x-proto-message": "TransactionInfo"
                "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                "x-java-response": "TransactionInfo rendered through convertLogAddressToTronAddress"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionInfoByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/gettransactioninfobyid"
      "x-solidity-servlet": "GetTransactionInfoByIdOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "value":
                  "type": "string"
                "visible":
                  "type": "boolean"
              "x-proto-message": "BytesMessage"
              "x-proto-file": "protocol/src/main/protos/api/api.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "org.tron.api.GrpcAPI.BytesMessage"
  "/wallet/gettransactioninfobyblocknum":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction receipts by block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioninfobyblocknum.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioninfobyblocknum_get"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/gettransactioninfobyblocknum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "array"
                "items":
                  "type": "object"
                  "additionalProperties": true
                  "properties":
                    "id":
                      "type": "string"
                    "fee":
                      "type": "integer"
                    "blockNumber":
                      "type": "integer"
                    "blockTimeStamp":
                      "type": "integer"
                    "contractResult":
                      "type": "array"
                      "items":
                        "type": "string"
                    "contract_address":
                      "type": "string"
                    "receipt":
                      "type": "object"
                      "additionalProperties": true
                    "log":
                      "type": "array"
                      "items":
                        "type": "object"
                        "additionalProperties": true
                    "result":
                      "type": "object"
                      "additionalProperties": true
                    "resMessage":
                      "type": "string"
                    "assetIssueID":
                      "type": "string"
                    "withdraw_amount":
                      "type": "integer"
                    "unfreeze_amount":
                      "type": "integer"
                    "internal_transactions":
                      "type": "array"
                      "items":
                        "type": "object"
                        "additionalProperties": true
                    "exchange_received_amount":
                      "type": "integer"
                    "exchange_inject_another_amount":
                      "type": "integer"
                    "exchange_withdraw_another_amount":
                      "type": "integer"
                    "exchange_id":
                      "type": "integer"
                    "shielded_transaction_fee":
                      "type": "integer"
                    "orderId":
                      "type": "string"
                    "orderDetails":
                      "type": "array"
                      "items":
                        "type": "object"
                        "additionalProperties": true
                    "packingFee":
                      "type": "integer"
                    "withdraw_expire_amount":
                      "type": "integer"
                  "x-proto-message": "TransactionInfo"
                  "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                  "x-java-response": "TransactionInfo rendered through convertLogAddressToTronAddress"
                "x-java-response": "Array of TransactionInfo rendered by printTransactionInfoList"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionInfoByBlockNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/gettransactioninfobyblocknum"
      "x-solidity-servlet": "GetTransactionInfoByBlockNumOnSolidityServlet"
      "parameters":
        -
          "name": "num"
          "in": "query"
          "required": false
          "schema":
            "type": "integer"
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction receipts by block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioninfobyblocknum.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioninfobyblocknum_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/gettransactioninfobyblocknum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "array"
                "items":
                  "type": "object"
                  "additionalProperties": true
                  "properties":
                    "id":
                      "type": "string"
                    "fee":
                      "type": "integer"
                    "blockNumber":
                      "type": "integer"
                    "blockTimeStamp":
                      "type": "integer"
                    "contractResult":
                      "type": "array"
                      "items":
                        "type": "string"
                    "contract_address":
                      "type": "string"
                    "receipt":
                      "type": "object"
                      "additionalProperties": true
                    "log":
                      "type": "array"
                      "items":
                        "type": "object"
                        "additionalProperties": true
                    "result":
                      "type": "object"
                      "additionalProperties": true
                    "resMessage":
                      "type": "string"
                    "assetIssueID":
                      "type": "string"
                    "withdraw_amount":
                      "type": "integer"
                    "unfreeze_amount":
                      "type": "integer"
                    "internal_transactions":
                      "type": "array"
                      "items":
                        "type": "object"
                        "additionalProperties": true
                    "exchange_received_amount":
                      "type": "integer"
                    "exchange_inject_another_amount":
                      "type": "integer"
                    "exchange_withdraw_another_amount":
                      "type": "integer"
                    "exchange_id":
                      "type": "integer"
                    "shielded_transaction_fee":
                      "type": "integer"
                    "orderId":
                      "type": "string"
                    "orderDetails":
                      "type": "array"
                      "items":
                        "type": "object"
                        "additionalProperties": true
                    "packingFee":
                      "type": "integer"
                    "withdraw_expire_amount":
                      "type": "integer"
                  "x-proto-message": "TransactionInfo"
                  "x-proto-file": "protocol/src/main/protos/core/Tron.proto"
                  "x-java-response": "TransactionInfo rendered through convertLogAddressToTronAddress"
                "x-java-response": "Array of TransactionInfo rendered by printTransactionInfoList"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionInfoByBlockNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-solidity-endpoint": "/walletsolidity/gettransactioninfobyblocknum"
      "x-solidity-servlet": "GetTransactionInfoByBlockNumOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": true
              "properties":
                "num":
                  "type": "integer"
                "visible":
                  "type": "boolean"
              "x-proto-message": "NumberMessage"
              "x-proto-file": "protocol/src/main/protos/api/api.proto"
              "x-source-shape": "protobuf-json-plus-servlet-fields"
              "x-java-request-type": "org.tron.api.GrpcAPI.NumberMessage"
  "/wallet/getpendingsize":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Pending pool size"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getpendingsize.md` for examples and detailed behavior."
      "operationId": "wallet_getpendingsize_get"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getpendingsize.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "pendingSize":
                    "type": "integer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetPendingSizeServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        []
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Pending pool size"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getpendingsize.md` for examples and detailed behavior."
      "operationId": "wallet_getpendingsize_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/getpendingsize.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "pendingSize":
                    "type": "integer"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetPendingSizeServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        []
  "/wallet/gettransactionfrompending":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Single pending transaction"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactionfrompending.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactionfrompending_get"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/gettransactionfrompending.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": true
                "properties":
                  "txID":
                    "type": "string"
                  "raw_data":
                    "type": "object"
                    "additionalProperties": true
                  "raw_data_hex":
                    "type": "string"
                  "signature":
                    "type": "array"
                    "items":
                      "type": "string"
                  "visible":
                    "type": "boolean"
                  "contract_address":
                    "type": "string"
                "x-java-response": "protocol.Transaction rendered by Util.printTransaction"
                "x-source-shape": "transaction-json"
            "text/plain":
              "schema":
                "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionFromPendingServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "value"
          "in": "query"
          "required": false
          "schema":
            "type": "string"
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Single pending transaction"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactionfrompending.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactionfrompending_post"
      "externalDocs":
        "url": "docs/api/http/block-and-tx-query/gettransactionfrompending.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
[...]
