"openapi": "3.1.0"
"info":
  "title": "java-tron HTTP API"
  "version": "1.0.0"
  "description": "Machine-readable definition generated from java-tron source code, with human-facing metadata linked to the markdown API documentation."
  "x-java-tron-source":
    "repo": "tronprotocol/java-tron"
    "commit": "e90dd782122c9e9b283429d03697f0cb8f1326fb"
    "version": "GreatVoyage-v4.8.2"
"servers":
  -
    "url": "https://nile.trongrid.io"
    "description": "Nile testnet TronGrid"
  -
    "url": "http://127.0.0.1:8090"
    "description": "Local FullNode HTTP API"
"tags":
  -
    "name": "Account"
    "description": "Account lookup and account resource query endpoints."
  -
    "name": "Block / transaction query"
    "description": "Block, transaction, and transaction-info query endpoints."
  -
    "name": "Transaction build / broadcast"
    "description": "Transaction creation, signing, permission, and broadcast endpoints."
  -
    "name": "TRC-10 asset"
    "description": "TRC-10 asset endpoints."
  -
    "name": "Smart contract"
    "description": "Smart contract deployment, trigger, and contract metadata endpoints."
  -
    "name": "Witness / governance"
    "description": "Witness, brokerage, reward, proposal, and governance endpoints."
  -
    "name": "Stake 1.0 (unfreeze and query only)"
    "description": "Stake 1.0 unfreeze and related query endpoints."
  -
    "name": "Stake 2.0"
    "description": "Stake 2.0 resource delegation, unfreeze, and withdrawal endpoints."
  -
    "name": "Node / pricing / tools"
    "description": "Node status, chain pricing, and utility endpoints."
"paths":
  "/wallet/getaccount":
    "get":
      "tags":
        - "Account"
      "summary": "Query an account by address"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccount.md` for examples and detailed behavior."
      "operationId": "wallet_getaccount_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccount.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Account"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getaccount"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetAccountOnSolidityServlet"
      "parameters":
        -
          "name": "address"
          "in": "query"
          "required": true
          "schema":
            "type": "string"
            "description": "Account or contract address accepted by this endpoint."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetAccountServlet.java"
        - "protocol/src/main/protos/core/Tron.proto#Account"
    "post":
      "tags":
        - "Account"
      "summary": "Query an account by address"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccount.md` for examples and detailed behavior."
      "operationId": "wallet_getaccount_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccount.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Account"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getaccount"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetAccountOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/AccountRequest"
              "required":
                - "address"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetAccountServlet.java"
        - "protocol/src/main/protos/core/Tron.proto#Account"
  "/wallet/getaccountbalance":
    "post":
      "tags":
        - "Account"
      "summary": "Query an account's balance at a specific block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountbalance.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountbalance_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccountbalance.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/AccountBalanceResponse"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountBalanceServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/AccountBalanceRequestRequest"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetAccountBalanceServlet.java"
        - "protocol/src/main/protos/core/contract/balance_contract.proto#AccountBalanceRequest"
  "/wallet/getaccountnet":
    "get":
      "tags":
        - "Account"
      "summary": "Query an account's bandwidth resources"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountnet.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountnet_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccountnet.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/AccountNetMessage"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountNetServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "address"
          "in": "query"
          "required": true
          "schema":
            "type": "string"
            "description": "Account or contract address accepted by this endpoint."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetAccountNetServlet.java"
        - "protocol/src/main/protos/core/Tron.proto#Account"
    "post":
      "tags":
        - "Account"
      "summary": "Query an account's bandwidth resources"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountnet.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountnet_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccountnet.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/AccountNetMessage"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountNetServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/AccountRequest"
              "required":
                - "address"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetAccountNetServlet.java"
        - "protocol/src/main/protos/core/Tron.proto#Account"
  "/wallet/getaccountresource":
    "get":
      "tags":
        - "Account"
      "summary": "Query bandwidth + energy + TronPower"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountresource.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountresource_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccountresource.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/AccountResourceMessage"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountResourceServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "address"
          "in": "query"
          "required": true
          "schema":
            "type": "string"
            "description": "Account or contract address accepted by this endpoint."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
    "post":
      "tags":
        - "Account"
      "summary": "Query bandwidth + energy + TronPower"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/getaccountresource.md` for examples and detailed behavior."
      "operationId": "wallet_getaccountresource_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/getaccountresource.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/AccountResourceMessage"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetAccountResourceServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": false
              "properties":
                "address":
                  "type": "string"
                  "description": "Account or contract address accepted by this endpoint."
                "visible":
                  "type": "boolean"
                  "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
              "x-source-shape": "servlet-json-fields"
              "x-java-unknown-fields": "ignored-by-jsonformat"
              "required":
                - "address"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetAccountResourceServlet.java"
  "/wallet/createaccount":
    "post":
      "tags":
        - "Account"
      "summary": "Create an on-chain account (costs 1 TRX)"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/createaccount.md` for examples and detailed behavior."
      "operationId": "wallet_createaccount_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/createaccount.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Transaction"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "CreateAccountServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/AccountCreateContractRequest"
              "required":
                - "owner_address"
                - "account_address"
      "x-overlay-derived": true
      "x-source-refs":
        - "actuator/src/main/java/org/tron/core/actuator/CreateAccountActuator.java#validate"
        - "protocol/src/main/protos/core/contract/account_contract.proto#AccountCreateContract"
  "/wallet/updateaccount":
    "post":
      "tags":
        - "Account"
      "summary": "Update an account's name"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/updateaccount.md` for examples and detailed behavior."
      "operationId": "wallet_updateaccount_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/updateaccount.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Transaction"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "UpdateAccountServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/AccountUpdateContractRequest"
              "required":
                - "owner_address"
      "x-overlay-derived": true
      "x-source-refs":
        - "actuator/src/main/java/org/tron/core/actuator/UpdateAccountActuator.java#validate"
        - "protocol/src/main/protos/core/contract/account_contract.proto#AccountUpdateContract"
  "/wallet/accountpermissionupdate":
    "post":
      "tags":
        - "Account"
      "summary": "Configure multi-sig permissions"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/accountpermissionupdate.md` for examples and detailed behavior."
      "operationId": "wallet_accountpermissionupdate_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/accountpermissionupdate.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Transaction"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "AccountPermissionUpdateServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/AccountPermissionUpdateContractRequest"
              "required":
                - "owner_address"
                - "owner"
                - "actives"
      "x-overlay-derived": true
      "x-source-refs":
        - "actuator/src/main/java/org/tron/core/actuator/AccountPermissionUpdateActuator.java#validate"
        - "protocol/src/main/protos/core/contract/account_contract.proto#AccountPermissionUpdateContract"
  "/wallet/validateaddress":
    "get":
      "tags":
        - "Account"
      "summary": "Validate an address"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/validateaddress.md` for examples and detailed behavior."
      "operationId": "wallet_validateaddress_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/validateaddress.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": false
                "properties":
                  "result":
                    "type": "boolean"
                  "message":
                    "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "ValidateAddressServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "address"
          "in": "query"
          "required": true
          "schema":
            "type": "string"
            "description": "Account or contract address accepted by this endpoint."
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/ValidateAddressServlet.java"
    "post":
      "tags":
        - "Account"
      "summary": "Validate an address"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/account/validateaddress.md` for examples and detailed behavior."
      "operationId": "wallet_validateaddress_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/account/validateaddress.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "type": "object"
                "additionalProperties": false
                "properties":
                  "result":
                    "type": "boolean"
                  "message":
                    "type": "string"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "ValidateAddressServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "type": "object"
              "additionalProperties": false
              "properties":
                "address":
                  "type": "string"
                  "description": "Account or contract address accepted by this endpoint."
              "x-source-shape": "servlet-json-fields"
              "x-java-unknown-fields": "ignored-by-jsonformat"
              "required":
                - "address"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/ValidateAddressServlet.java"
  "/wallet/getnowblock":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Latest block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getnowblock.md` for examples and detailed behavior."
      "operationId": "wallet_getnowblock_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getnowblock.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Block"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetNowBlockServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getnowblock"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetNowBlockOnSolidityServlet"
      "parameters":
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetNowBlockServlet.java"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Latest block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getnowblock.md` for examples and detailed behavior."
      "operationId": "wallet_getnowblock_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getnowblock.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Block"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetNowBlockServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getnowblock"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetNowBlockOnSolidityServlet"
      "parameters":
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetNowBlockServlet.java"
  "/wallet/getblock":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Generic block query (by num or hash)"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblock.md` for examples and detailed behavior."
      "operationId": "wallet_getblock_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblock.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Block"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblock"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockOnSolidityServlet"
      "parameters":
        -
          "name": "id_or_num"
          "in": "query"
          "required": false
          "schema":
            "type": "string"
            "description": "Block id or block number."
          "x-source-derived": true
        -
          "name": "detail"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "Whether to return detailed block information."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockServlet.java"
        - "protocol/src/main/protos/api/api.proto#BlockReq"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Generic block query (by num or hash)"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblock.md` for examples and detailed behavior."
      "operationId": "wallet_getblock_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblock.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Block"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblock"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/BlockReqRequest"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockServlet.java"
        - "protocol/src/main/protos/api/api.proto#BlockReq"
  "/wallet/getblockbynum":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Block by height"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbynum.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbynum_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbynum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Block"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbynum"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByNumOnSolidityServlet"
      "parameters":
        -
          "name": "num"
          "in": "query"
          "required": false
          "schema":
            "type": "integer"
            "format": "int64"
            "description": "Number of items or blocks to return."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockByNumServlet.java"
        - "protocol/src/main/protos/api/api.proto#NumberMessage"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Block by height"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbynum.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbynum_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbynum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Block"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbynum"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByNumOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/NumberMessageRequest"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockByNumServlet.java"
        - "protocol/src/main/protos/api/api.proto#NumberMessage"
  "/wallet/getblockbyid":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Block by hash"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbyid.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbyid_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbyid.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Block"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbyid"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByIdOnSolidityServlet"
      "parameters":
        -
          "name": "value"
          "in": "query"
          "required": true
          "schema":
            "type": "string"
            "description": "Hex string, amount, or value field accepted by this endpoint."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockByIdServlet.java"
        - "protocol/src/main/protos/api/api.proto#BytesMessage"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Block by hash"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbyid.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbyid_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbyid.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Block"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbyid"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByIdOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/BytesMessageRequest"
              "required":
                - "value"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockByIdServlet.java"
        - "protocol/src/main/protos/api/api.proto#BytesMessage"
  "/wallet/getblockbylimitnext":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Blocks in a range"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbylimitnext.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbylimitnext_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbylimitnext.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockList"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByLimitNextServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbylimitnext"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByLimitNextOnSolidityServlet"
      "parameters":
        -
          "name": "startNum"
          "in": "query"
          "required": true
          "schema":
            "type": "integer"
            "format": "int64"
            "description": "Starting block number for the query range."
          "x-source-derived": true
        -
          "name": "endNum"
          "in": "query"
          "required": true
          "schema":
            "type": "integer"
            "format": "int64"
            "description": "Ending block number for the query range."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Blocks in a range"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbylimitnext.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbylimitnext_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbylimitnext.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockList"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByLimitNextServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbylimitnext"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByLimitNextOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/BlockLimitRequest"
              "required":
                - "endNum"
                - "startNum"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockByLimitNextServlet.java"
        - "protocol/src/main/protos/api/api.proto#BlockLimit"
  "/wallet/getblockbylatestnum":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "The most recent N blocks"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbylatestnum.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbylatestnum_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbylatestnum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockList"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByLatestNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbylatestnum"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByLatestNumOnSolidityServlet"
      "parameters":
        -
          "name": "num"
          "in": "query"
          "required": true
          "schema":
            "type": "integer"
            "format": "int64"
            "description": "Number of items or blocks to return."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "The most recent N blocks"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbylatestnum.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbylatestnum_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbylatestnum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockList"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockByLatestNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/getblockbylatestnum"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetBlockByLatestNumOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/NumberMessageRequest"
              "required":
                - "num"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockByLatestNumServlet.java"
        - "protocol/src/main/protos/api/api.proto#NumberMessage"
  "/wallet/getblockbalance":
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Per-account balance changes within a block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getblockbalance.md` for examples and detailed behavior."
      "operationId": "wallet_getblockbalance_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getblockbalance.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/BlockBalanceTrace"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetBlockBalanceServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "$ref": "#/components/schemas/BlockIdentifierRequest"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetBlockBalanceServlet.java"
        - "protocol/src/main/protos/core/contract/balance_contract.proto#BlockIdentifier"
  "/wallet/gettransactioncountbyblocknum":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction count in a block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioncountbyblocknum.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioncountbyblocknum_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactioncountbyblocknum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "type": "object"
                    "additionalProperties": false
                    "properties":
                      "count":
                        "type": "integer"
                        "format": "int64"
                    "not":
                      "required":
                        - "Error"
                    "title": "GettransactioncountbyblocknumGetResultObject1"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionCountByBlockNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/gettransactioncountbyblocknum"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetTransactionCountByBlockNumOnSolidityServlet"
      "parameters":
        -
          "name": "num"
          "in": "query"
          "required": true
          "schema":
            "type": "integer"
            "format": "int64"
            "description": "Number of items or blocks to return."
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetTransactionCountByBlockNumServlet.java"
        - "protocol/src/main/protos/api/api.proto#NumberMessage"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction count in a block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioncountbyblocknum.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioncountbyblocknum_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactioncountbyblocknum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "type": "object"
                    "additionalProperties": false
                    "properties":
                      "count":
                        "type": "integer"
                        "format": "int64"
                    "not":
                      "required":
                        - "Error"
                    "title": "GettransactioncountbyblocknumPostResultObject1"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionCountByBlockNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/gettransactioncountbyblocknum"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetTransactionCountByBlockNumOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/NumberMessageRequest"
              "required":
                - "num"
  "/wallet/gettransactionbyid":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction by txid"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactionbyid.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactionbyid_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactionbyid.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Transaction"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/gettransactionbyid"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetTransactionByIdOnSolidityServlet"
      "parameters":
        -
          "name": "value"
          "in": "query"
          "required": true
          "schema":
            "type": "string"
            "description": "Hex string, amount, or value field accepted by this endpoint."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetTransactionByIdServlet.java"
        - "protocol/src/main/protos/api/api.proto#BytesMessage"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction by txid"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactionbyid.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactionbyid_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactionbyid.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Transaction"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/gettransactionbyid"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetTransactionByIdOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/BytesMessageRequest"
              "required":
                - "value"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetTransactionByIdServlet.java"
        - "protocol/src/main/protos/api/api.proto#BytesMessage"
  "/wallet/gettransactioninfobyid":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction receipt by txid"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioninfobyid.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioninfobyid_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactioninfobyid.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/TransactionInfo"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionInfoByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/gettransactioninfobyid"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetTransactionInfoByIdOnSolidityServlet"
      "parameters":
        -
          "name": "value"
          "in": "query"
          "required": true
          "schema":
            "type": "string"
            "description": "Hex string, amount, or value field accepted by this endpoint."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetTransactionInfoByIdServlet.java"
        - "protocol/src/main/protos/api/api.proto#BytesMessage"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction receipt by txid"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioninfobyid.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioninfobyid_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactioninfobyid.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/TransactionInfo"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionInfoByIdServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/gettransactioninfobyid"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetTransactionInfoByIdOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/BytesMessageRequest"
              "required":
                - "value"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetTransactionInfoByIdServlet.java"
        - "protocol/src/main/protos/api/api.proto#BytesMessage"
  "/wallet/gettransactioninfobyblocknum":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction receipts by block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioninfobyblocknum.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioninfobyblocknum_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactioninfobyblocknum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "type": "array"
                    "items":
                      "$ref": "#/components/schemas/TransactionInfo"
                    "x-java-response": "Array of TransactionInfo rendered by printTransactionInfoList"
                    "title": "GettransactioninfobyblocknumGetResultArray1"
                  -
                    "type": "object"
                    "additionalProperties": false
                    "maxProperties": 0
                    "x-java-response": "Empty object returned when num is not positive"
                    "title": "GettransactioninfobyblocknumGetResultEmpty2"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionInfoByBlockNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/gettransactioninfobyblocknum"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetTransactionInfoByBlockNumOnSolidityServlet"
      "parameters":
        -
          "name": "num"
          "in": "query"
          "required": true
          "schema":
            "type": "integer"
            "format": "int64"
            "description": "Number of items or blocks to return."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetTransactionInfoByBlockNumServlet.java"
        - "protocol/src/main/protos/api/api.proto#NumberMessage"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Transaction receipts by block"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactioninfobyblocknum.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactioninfobyblocknum_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactioninfobyblocknum.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "type": "array"
                    "items":
                      "$ref": "#/components/schemas/TransactionInfo"
                    "x-java-response": "Array of TransactionInfo rendered by printTransactionInfoList"
                    "title": "GettransactioninfobyblocknumPostResultArray1"
                  -
                    "type": "object"
                    "additionalProperties": false
                    "maxProperties": 0
                    "x-java-response": "Empty object returned when num is not positive"
                    "title": "GettransactioninfobyblocknumPostResultEmpty2"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionInfoByBlockNumServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "x-tron-alternate-endpoints":
        -
          "path": "/walletsolidity/gettransactioninfobyblocknum"
          "service": "HTTP OnSolidity"
          "consistency": "solidified"
          "x-java-servlet": "GetTransactionInfoByBlockNumOnSolidityServlet"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/NumberMessageRequest"
              "required":
                - "num"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetTransactionInfoByBlockNumServlet.java"
        - "protocol/src/main/protos/api/api.proto#NumberMessage"
  "/wallet/getpendingsize":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Pending pool size"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getpendingsize.md` for examples and detailed behavior."
      "operationId": "wallet_getpendingsize_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getpendingsize.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "type": "object"
                    "additionalProperties": false
                    "properties":
                      "pendingSize":
                        "type": "integer"
                        "format": "int64"
                    "not":
                      "required":
                        - "Error"
                    "title": "GetpendingsizeGetResultObject1"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetPendingSizeServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetPendingSizeServlet.java"
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Pending pool size"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/getpendingsize.md` for examples and detailed behavior."
      "operationId": "wallet_getpendingsize_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/getpendingsize.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "type": "object"
                    "additionalProperties": false
                    "properties":
                      "pendingSize":
                        "type": "integer"
                        "format": "int64"
                    "not":
                      "required":
                        - "Error"
                    "title": "GetpendingsizePostResultObject1"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetPendingSizeServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        []
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetPendingSizeServlet.java"
  "/wallet/gettransactionfrompending":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "Single pending transaction"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactionfrompending.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactionfrompending_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactionfrompending.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Transaction"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionFromPendingServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "value"
          "in": "query"
          "required": true
          "schema":
            "type": "string"
            "description": "Hex string, amount, or value field accepted by this endpoint."
          "x-source-derived": true
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "Single pending transaction"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactionfrompending.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactionfrompending_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactionfrompending.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Transaction"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionFromPendingServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/BytesMessageRequest"
              "required":
                - "value"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetTransactionFromPendingServlet.java"
        - "protocol/src/main/protos/api/api.proto#BytesMessage"
  "/wallet/gettransactionlistfrompending":
    "get":
      "tags":
        - "Block / transaction query"
      "summary": "All pending transaction IDs"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactionlistfrompending.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactionlistfrompending_get"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactionlistfrompending.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/TransactionIdList"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionListFromPendingServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
        -
          "name": "int64_as_string"
          "in": "query"
          "required": false
          "description": "When true, serialize int64 and uint64 response fields as JSON strings to avoid precision loss."
          "schema":
            "type": "boolean"
            "default": false
          "x-java-source": "framework/src/main/java/org/tron/core/services/http/RateLimiterServlet.java"
          "x-source-derived": true
    "post":
      "tags":
        - "Block / transaction query"
      "summary": "All pending transaction IDs"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/block-and-tx-query/gettransactionlistfrompending.md` for examples and detailed behavior."
      "operationId": "wallet_gettransactionlistfrompending_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/block-and-tx-query/gettransactionlistfrompending.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/TransactionIdList"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionListFromPendingServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "parameters":
        -
          "name": "visible"
          "in": "query"
          "required": false
          "schema":
            "type": "boolean"
            "description": "When true, addresses are encoded in base58check; when false or omitted, addresses are hex-encoded."
          "x-source-derived": true
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetTransactionListFromPendingServlet.java"
        - "protocol/src/main/protos/api/api.proto#TransactionIdList"
  "/wallet/createtransaction":
    "post":
      "tags":
        - "Transaction build / broadcast"
      "summary": "Build a TRX transfer transaction"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/tx-build-and-broadcast/createtransaction.md` for examples and detailed behavior."
      "operationId": "wallet_createtransaction_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/tx-build-and-broadcast/createtransaction.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/Transaction"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "TransferServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/TransferContractRequest"
              "required":
                - "owner_address"
                - "to_address"
                - "amount"
      "x-overlay-derived": true
      "x-source-refs":
        - "actuator/src/main/java/org/tron/core/actuator/TransferActuator.java#validate"
        - "protocol/src/main/protos/core/contract/balance_contract.proto#TransferContract"
  "/wallet/getsignweight":
    "post":
      "tags":
        - "Transaction build / broadcast"
      "summary": "Current multi-sig weight"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/tx-build-and-broadcast/getsignweight.md` for examples and detailed behavior."
      "operationId": "wallet_getsignweight_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/tx-build-and-broadcast/getsignweight.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/TransactionSignWeight"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionSignWeightServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/TransactionRequest"
              "required":
                - "raw_data"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetTransactionSignWeightServlet.java"
        - "framework/src/main/java/org/tron/core/services/http/Util.java"
        - "protocol/src/main/protos/core/Tron.proto#Transaction"
  "/wallet/getapprovedlist":
    "post":
      "tags":
        - "Transaction build / broadcast"
      "summary": "Addresses that have already signed"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/tx-build-and-broadcast/getapprovedlist.md` for examples and detailed behavior."
      "operationId": "wallet_getapprovedlist_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/tx-build-and-broadcast/getapprovedlist.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "$ref": "#/components/schemas/TransactionApprovedList"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "GetTransactionApprovedListServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/TransactionRequest"
              "required":
                - "raw_data"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/GetTransactionApprovedListServlet.java"
        - "framework/src/main/java/org/tron/core/services/http/Util.java"
        - "protocol/src/main/protos/core/Tron.proto#Transaction"
  "/wallet/broadcasttransaction":
    "post":
      "tags":
        - "Transaction build / broadcast"
      "summary": "Broadcast a signed transaction (JSON)"
      "description": "Endpoint registration, HTTP method, servlet, and request type are derived from java-tron source. See `docs/api/http/tx-build-and-broadcast/broadcasttransaction.md` for examples and detailed behavior."
      "operationId": "wallet_broadcasttransaction_post"
      "externalDocs":
        "url": "https://github.com/tronprotocol/documentation-en/blob/master/docs/api/http/tx-build-and-broadcast/broadcasttransaction.md"
      "responses":
        "200":
          "description": "java-tron response. Most business errors are returned with HTTP 200 and an error object in the body."
          "content":
            "application/json":
              "schema":
                "oneOf":
                  -
                    "type": "object"
                    "additionalProperties": false
                    "properties":
                      "result":
                        "type": "boolean"
                      "code":
                        "type": "string"
                      "message":
                        "type": "string"
                      "txid":
                        "type": "string"
                    "x-java-response": "Return/GrpcAPI.Return plus transaction id fields"
                    "not":
                      "required":
                        - "Error"
                    "title": "BroadcasttransactionPostResultObject1"
                  -
                    "$ref": "#/components/schemas/JavaTronError"
                "x-tron-business-error":
                  "httpStatus": 200
                  "errorSchema": "#/components/schemas/JavaTronError"
                  "discriminatorField": "Error"
        "404":
          "description": "Endpoint disabled by node configuration."
      "x-source-derived": true
      "x-java-service": "FullNode HTTP"
      "x-java-servlet": "BroadcastServlet"
      "x-java-source": "framework/src/main/java/org/tron/core/services/http/FullNodeHttpApiService.java"
      "requestBody":
        "required": true
        "content":
          "application/json":
            "schema":
              "allOf":
                -
                  "$ref": "#/components/schemas/TransactionRequest"
              "required":
                - "raw_data"
      "x-overlay-derived": true
      "x-source-refs":
        - "framework/src/main/java/org/tron/core/services/http/BroadcastServlet.java"
        - "framework/src/main/java/org/tron/core/services/http/Util.java"
        - "protocol/src/main/protos/core/Tron.proto#Transaction"
  "/wallet/broadcasthex":
    "post":
      "tags":
        - "Transaction build / broadcast"
[...]
