name: Publish Document

on:
  push:
    branches:
      - master 
  workflow_dispatch: # Allows manual trigger from GitHub UI

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        persist-credentials: false

    - name: Prepare build environment
      run: |
        sudo apt install python3-pip python3-dev python3-setuptools
        sudo pip3 install -U pygments==2.17.2 pymdown-extensions
        sudo pip3 install mkdocs-exclude
        sudo pip3 install mkdocs-material==9.6.8
        sudo pip3 install jieba==0.42.1

    - name: Build the document
      run: mkdocs build

    - name: Build and Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v4
      with:
        ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        BRANCH: gh-pages # The branch the action should deploy to.
        FOLDER: site # The folder the action should deploy.
